#green-button {
  transform: none;
  transform-origin: 50% 50%;
  transition: transform 0.5s;
}

#green-button:hover {
  transform: scale(1.1);
}

.arial {
  font-family: Arial;
  margin-top: 20px;
}
